




/* ############################################################################################################################3 */
/* ##    the loading clip */
/* ############################################################################################################################3 */
.oSlide-loading {
    background:silver;

}


/* ############################################################################################################################3 */
/* ##   Title and descrioption
/* ############################################################################################################################3 */

.oSlideTitleDiv{
	font-size:150%;
	background:rgba(255,255,255,1);
	padding:0.3em 1em;
	position: absolute;
	color:#5F1228;
	
}

.oSlideDescriptionDiv{
	font-size:90%;
	background:rgba(0,0,0,0.6);
	padding:0.3em 1em;
	position: absolute;
	color:white;	
	
}


.oSlideDescPosition{
	
	bottom: 00px;	
	left:0px;
	width:100%;	
}

.oSlideTitlePosition{
	bottom: 40px;	
	left:30px;		
}


/* ############################################################################################################################3 */
/* ##    Image resources */
/* ############################################################################################################################3 */


/*.oSlideFadeColorBackround{
	background-color:#EE5757;
}*/
/* ############################################################################################################################3 */
/* ##    Navigation Bar */
/* ############################################################################################################################3 */


#oSlideNavigation{
	display:none;
	position:absolute;
	width:100%;
	z-index: 1105;
	text-align:center;
	height:14px;
	bottom:	-20px;
}

.oSlideNavigationElement{
	width:12px;
	height:12px;


	display:inline-block;
       zoom: 1; /* IE7 (hasLayout)*/
       *display: inline; /* IE */

	margin:5px;
	cursor:pointer;

	background-repeat:none;
	background-image: url('oSlide.png');
	background-position: 36px -304px;
}

.oSlideNavigationElement:hover{
	background-image: url('oSlide.png');
	background-position: 36px -284px;

}

.oSlideNavigationElement span{
	display:none;
}

.oSlideNavigationActiveElement {
	background-image: url('oSlide.png');
	background-position: 36px -284px;
	cursor:default;

}

/* ############################################################################################################################3 */
/* ##    Navigation  controls */
/* ############################################################################################################################3 */

.oSlideNavigationControl{
	position:absolute;
/*	display:none;*/
	width:40px;
	cursor:pointer;


}

#oSlideNextNavigation {
	right:0px;
	width: 15%;
}

#oSlideNextNavigation div{
	position:absolute;

	width:40px;
	height:60px;
	right:1%;
	background-image: url('oSlide.png');
	background-position: 40px -180px;

}
#oSlideNextNavigation:hover div{
  	background-position: 40px -58px;
}



#oSlidePrewNavigation {

	left:0px;
	width: 15%;
}

#oSlidePrewNavigation  div {

	position:absolute;

	width:40px;
	height:60px;
	left:1%;
	background-image: url('oSlide.png');
	background-position: 40px -120px;


}

#oSlidePrewNavigation:hover  div {
    	background-position: 40px 2px;
}
/* ############################################################################################################################3 */
/* ##    Zoom Button */
/* ############################################################################################################################3 */

#oSlideZoomButton{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	position: absolute;
	top: 0px;
	right: 0px;
	background-image: url('oSlide.png');
	background-position: 40px -320px;
	width:40px;
	height:40px;
	cursor: pointer;
}
#oSlideZoomButton:hover{
	background-position: 40px -360px;	
	opacity:1;
	filter:alpha(opacity=100); /* For IE8 and earlier */	
}



/* ############################################################################################################################3 */
/* ##    Caption */
/* ############################################################################################################################3 */

.oSlideFullScreen .oSlideContainer{
    padding:75px;
}











